[Desktop Entry]
Name=System Update
Version=1.0
Type=Application
Terminal=false
Categories=System;
Icon=system-software-update
Exec=/usr/bin/tilix -e /usr/bin/fish /home/kaleb/Tools/sysupdate.fish